.product_detils{
    margin: 5rem;
    max-width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    .product_detils_{
        & div{
            padding: 0.5rem 0;
        }
    }
}

.add_to_cart_product_btn{
        background-color: #f1c659cf;
        margin: 1rem 0;
        padding: 0.2rem 1rem;
        width: 100%;
        border-radius: 4px;
}

.show_comments{
    margin: 1rem 0;
    background-color: #69666683;
    max-width: 20rem;
    display: flex;
    justify-content: space-between;

}