.container{
    max-width: 20rem;
    margin: 0 auto;
    .login-container{
        max-width: 14rem;
        margin: 0 auto;
        // margin: 2rem 0;
        padding: 2rem;
        border: 0.1rem solid rgba(0, 0, 0, 0.742);
    }
}
.login-logo {
    max-width: 10rem;
    margin: 0.5rem auto;
    img{
        max-width: 6rem;
    }
}

.login-input{
    display: flex;
    flex-direction: column;
    .cinput{
        padding: 0.5rem;
        input{
            margin-top: 0.3rem;
            width: 100%;
        }
    }
}
.login-button{
        background-color: #f1c659cf;
        margin: 1rem 0;
        padding: 0.2rem 0;
        width: 100%;
        border-radius: 4px;
    }