.item_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.add_to_cart_btn{
    background-color: #f1c659cf;
        margin: 1rem 0;
        padding: 0.2rem 0;
        width: 100%;
        border-radius: 4px;
}