.item_list{
    background-color: #c4bfbf16;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 5rem;
}
.item{
    padding: 1.5rem;
    // flex: 20%;
}
.add_to_cart_btn{
    background-color: #f1c659cf;
        margin: 1rem 0;
        padding: 0.2rem 0;
        width: 100%;
        border-radius: 4px;
}